.track{
    float: right;
    width: 50%;/*90%*/
    height: 150px; /*280px*/
    background-color: white;
    margin: 2em;
    margin-right: 20rem;
    display: flex;
    /* flex-wrap: wrap; */
    /* overflow:hidden ; */
}
.subTrack{
    margin: 3% 5px;
    width: 10%;
    height: 70%;
    background-color:purple
}
