.addTrackButton{
    position: relative;
    top: 361px;
    left: 778px;
}
#HeadButtons{
    height: 58px;
    margin-bottom: 40px;
    background-color: gray;
    padding-left: 30px;
}
#sliderBpm{
    width: 500px;
    position: relative;
    top: 19px;
    left: 20px;
}
#labelSliderBpm{
    position: relative;
    top: 4px;
}
#mainPlayButton{
    position: relative;
    left: 105px;
    top: 6px;
    margin-right: 10px;
    font-size: 31px;
    /* line-height: -1px; */
    background-color: white;
    color: gray;
    border: none;
    cursor: pointer;
}
#mainStopButton{
    position: relative;
    left: 117px;
    top: 6px;
    width: 40px;
    font-size: 36px;
    /* line-height: -1px; */
    background-color: white;
    color: gray;
    border: none;
    cursor: pointer;
}