.track{
    float: right;
    width: 50%;/*90%*/
    height: 150px; /*280px*/
    background-color: white;
    margin: 2em;
    margin-right: 20rem;
    display: flex;
    position: relative;
    /* flex-wrap: wrap; */
    /* overflow:hidden ; */
}
.label_for_track{
    
    display: flex;
    width: 90%;
    position: absolute;
    top: -30px;
    /* width: 100px; */
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;

}
.subTrack{
    margin: 3% 5px;
    width: 10%;
    height: 70%;
    background-color:purple
}
.select_instrument_Btn{
    width: 50px;
    padding: 10px;
    position: absolute;
    left: -300px;
}
#nameTrack{
    position: absolute;
    /* top:50px */
    margin-bottom: 50px;
}

