.track{
    float: right;
    width: 50%;/*90%*/
    height: 150px; /*280px*/
    background-color: white;
    margin: 2em;
    border-radius: 28px;
    margin-right: 20rem;
    display: flex;
    position: relative;
    /* flex-wrap: wrap; */
    /* overflow:hidden ; */
}
.label_for_track{
    
    display: flex;
    width: 90%;
    position: absolute;
    top: -30px;
    /* width: 100px; */
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;

}
.subTrack{
    margin: 2% 10px;
    width: 15%;
    height: 80%;
    cursor: pointer;
    border-radius:20px;
    background-color:purple
}
.select_instrument_Btn{
    width: 50px;
    padding: 10px;
    position: absolute;
    left: -300px;
}
#nameTrack{
    position: absolute;
    /* top:50px */
    margin-bottom: 50px;
}

.slick-prev {
    left: 110px;
    top: 115px;
    z-index: 1;

}
.slick-next {
    left: 341px;
    top: 115px;
}
.slick-dots {
    position: absolute;
    left: 141px;
    bottom: -46px;
    display: block;
    width: 200px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}



element.style {
    width: 5304px;
    opacity: 1;
    position: relative;
    transform: translate3d(-1224px, 0px, 0px);
    left: 222px;
}
.slick-slider {
    position: relative;
    margin-bottom: 147px;
    overflow: hidden;
}

.slick-track {
    position: relative;
    left: 222px !important;
    position: relative;
    top: 0;
    left: 190px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.deleteTrackBtn{
    width: 10px;
    cursor: pointer;
    position: absolute;
    right: 205px;
    margin-top: 83px;
}
