.Timelineblocks{
    /* position: absolute;
    top:0; */
    position: relative;
   
    bottom: 792px;
    left: 100px;
}

.Timelineblocks__cells{
    width: 50px;
    height: 20px;
    background-color: violet;
    border: 1px black solid;
    opacity: 50%;
}
.Timelineblocks__cells.active{
    opacity: 100%;
    background-color: blueviolet;
}
.Timelineblocks__cells:hover{
    opacity: 100%;
    /* background-color: blueviolet; */
}
.Timelineblocks__cells:active{
    opacity: 100%;
    background-color: darkblue;
}
.Timelineblocks__items{
    display: flex;
    flex-direction: row;
}
